body {
	color:#aaa;
	font-family:Helvetica;
	font-size:9px;
	font-weight:normal;
	margin:0;
	padding:0;
}

a {
	color:#e7e962;
}

.header {
	background:#2e2e2e;
	height:50px;
}

#login-buttons {
	margin:0;
	padding:5px;
}

.logo {
	color:#62d1e9;
	padding:8px 0;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:5px
}

#feeds {
	background:#2e2e2e;
	overflow-x:hidden;
	overflow-y:scroll;
	padding:0;
	position:absolute;
	width:150px;
	top:15px;
	bottom:0;
	left:0;
	z-index:10;
}

#feeds input, #feeds p {
	margin-left:5px;
}

a.delete-feed {
	color:#e96262;
}

#article {
	background:#ddd;
	top:15px;
	bottom:0;
	left:150px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	padding:0 0 0 0;
	position:absolute;
}

#article iframe {
	margin:0;
	overflow:auto;
	padding:0;
	width:100%;
	height:100%;
}

.feed, .favorites {
	background-color:#464646;
	color:#62d1e9;
	cursor:pointer;
	padding:4px 8px 4px 4px;
}

.article-list, .favorites-list {
	display:none;
}

.article-count {
	color:#ccc;
}

.article, .no-articles, .no-favorites {
	border-bottom:1px solid #555;
	cursor:pointer;
	line-height:12px;
	padding:0;
	min-height:33px;
}

.no-articles, .no-favorites {
	padding:4px 0 4px 0;
	text-align:center;
}

.article:hover {
	background-color:#464646;
}

.article:hover a, .article:hover a.read {
	color:#ccc;
}

.article a {
	color:#aaa;
	display:block;
	padding:4px 8px 4px 14px;
	text-decoration:none;
}

.article a.read {
	color:#676767;
}

.article a.delete-article, .article a.favorite, .favorites-list .article a.delete-favorite {
	color:#555;
	text-decoration:underline;
}

.article:hover a.delete-article, .article:hover a.delete-favorite {
	color:#e96262;
}

.article:hover a.favorite {
	color:#e7e962;
}

.controls {
	display:block;
	margin:4px 0 0 4px;
	padding:0;
	position:absolute;
	text-align:left;
	width:10px;
}

.controls li {
	display:inline-block;
	margin:0;
	padding:0;
}

.controls li:last-child {
	margin-right:8px;
}

.controls li a {
	margin:0;
	padding:0;
}

.triangle {
	background:#f00;
	display:none;
	position:absolute;
	width:5px;
	height:5px;
}