body {
	color:#aaa;
	font-family:Helvetica;
	font-size:10px;
	font-weight:normal;
	margin:0;
	padding:0;
}

a {
	color:#e7e962;
}

a.button {
	background:#444;
	border-radius:4px;
	display:inline-block;
	padding:5px 10px;
	text-align:center;
	text-decoration:none;
}

a.button:hover {
	background:#555;
}

a.button.add-feed {
	font-weight:bold;
	margin-left:5px;
	padding:5px;
	height:13px;
	width:13px;
}

.header {
	background:#2e2e2e;
	height:50px;
}

#login-buttons {
	line-height:.5;
	margin:0;
	padding:5px;
}

.logo {
	color:#62d1e9;
	padding:8px 0;
	text-align:center;
	text-transform:uppercase;
	letter-spacing:5px
}

#feeds {
	background:#2e2e2e;
	overflow-x:hidden;
	overflow-y:auto;
	padding:0;
	position:absolute;
	width:200px;
	top:15px;
	bottom:0;
	left:0;
	z-index:10;
}

#feeds p {
	text-align:center;
}

.feed-input {
	display:none;
	margin:0 auto 10px auto;
	width:160px;
}

.url {
	border:none;
	border-radius:4px;
	display:block;
	float:left;
	margin:0 auto;
	padding:0 5px 0 5px;
	width:120px;
	height:23px;
}

.add-feed {
	display:block;
	float:left;
}

.feed-list {
	display:none;
}

a.delete-feed {
	color:#e96262;
}

#article {
	background:#ddd;
	top:15px;
	bottom:0;
	left:200px;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
	padding:0 0 0 0;
	position:absolute;
}

#article iframe {
	margin:0;
	overflow:auto;
	padding:0;
	width:100%;
	height:100%;
}

.feed, .favorites {
	background-color:#464646;
	border-bottom:1px solid #2e2e2e;
	color:#62d1e9;
	cursor:pointer;
	padding:4px 8px 4px 4px;
	transition:background-color .1s;
}

.feed:hover, .favorites:hover {
	background-color:#666;
	opacity:1;
}

.feed span {
	display:inline-block;
	float:left;
}

span.feed-title {
	margin-left:5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width:115px;
}

span.article-count {
	float:right;
}

.loading-articles {
	padding:30px;
}

.article-list, .favorites-list {
	display:none;
}

.article-count {
	color:#ccc;
}

.article, .no-articles, .no-favorites {
	border-bottom:1px solid #555;
	cursor:pointer;
	line-height:12px;
	padding:0;
	min-height:33px;
	transition:background-color .1s;
}

.no-articles, .no-favorites {
	padding:4px 0 4px 0;
	text-align:center;
}

.article:hover {
	background-color:#464646;
}

.article:hover a, .article:hover a.read {
	color:#ccc;
}

.article a {
	color:#aaa;
	display:block;
	padding:4px 8px 4px 14px;
	text-decoration:none;
}

.article a.read {
	color:#676767;
}

.article a.delete-article, .article a.favorite, .favorites-list .article a.delete-favorite {
	color:#555;
	text-decoration:underline;
}

.article:hover a.delete-article, .article:hover a.delete-favorite {
	color:#e96262;
}

.article:hover a.favorite {
	color:#e7e962;
}

.controls {
	display:block;
	margin:4px 0 0 4px;
	padding:0;
	position:absolute;
	text-align:left;
	width:10px;
}

.controls li {
	display:inline-block;
	margin:0;
	padding:0;
}

.controls li:last-child {
	margin-right:8px;
}

.controls li a {
	margin:0;
	padding:0;
}

.triangle {
	display:none;
}

.triangle:after {
	border-top:5px solid transparent;
	border-bottom:5px solid transparent;
	border-left:5px solid #fff;
	content:'';
	margin-top:4px;
	margin-left:145px;
	position:absolute;
}

.dimmed {
	opacity:.5;
}

/* Clearfix */
.group:after {
  content: "";
  display: table;
  clear: both;
}